.page-header {
    margin: 30px 0 20px;
    padding-bottom: 9px;
}

.box {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
    box-shadow: 0 0 4px #d8d8d8;
    display: block;
    margin-bottom: 25px;
    margin-top: -6px;
    position: relative;
}

.box-content {
    background: none repeat scroll 0 0 #fcfcfc;
    border-radius: 0 0 3px 3px;
    padding: 0px 15px 10px;
    margin-top: -15px;
    position: relative;
}

.tab-content {
    margin: 10px 0px 20px;
}